
IO_LOC  "P39"   39;
IO_PORT "P39" PULL_MODE=UP;
IO_LOC  "P40"   40;
IO_PORT "P40" PULL_MODE=UP;

IO_LOC  "P29"   29;
IO_PORT "P29" PULL_MODE=UP;
IO_LOC  "P30"   30;
IO_PORT "P30" PULL_MODE=UP;


IO_LOC  "P31"   31;
IO_LOC  "P32"   32;
IO_LOC  "P33"   33;
